%%
%% rebar3 configuration file
%%
{plugins, [rebar_alias]}.

{require_otp_vsn, "18"}.

{erl_opts, [
    debug_info,
    fail_on_warning,
    {parse_transform, lager_transform}
]}.

{clean_files, [
    "logs",
    "src/*.beam",
    "test/*.beam"
]}.

{post_hooks, [
    % TODO: a plugin to check for a clean working directory, and then generate
    %       the Version file would be splendid; use {alias} to define "mkrelease"
    {release, "echo 'Build Date:' `date -R` > _build/default/rel/kitsune/Version"},
    {release, "echo 'HEAD Commit:' `git log --max-count=1 --pretty='%h'` >> _build/default/rel/kitsune/Version"}
]}.

{deps, [
    {lager,   {git, "https://github.com/basho/lager",     {tag, "3.1.0"}}},
    {hackney, {git, "https://github.com/benoitc/hackney", {tag, "1.5.0"}}},
    {jiffy,   {git, "https://github.com/davisp/jiffy",    {tag, "0.14.7"}}}
]}.

{overrides,
    [{override, jiffy, [
        {plugins, [pc]},
        {artifacts, ["priv/jiffy.so"]},
        {provider_hooks, [
            {post, [
                {compile, {pc, compile}},
                {clean, {pc, clean}}
            ]}]
        }
    ]}
]}.

{relx, [
    {include_erts, false},

    {include_src, false},

    % this does not seem to have any effect
    % {default_release, {kitsune, "0.1.0"}}.

    {release, {kitsune, "0.1.0"}, [
        kitsune
    ]},

    {sys_config, "config/sys.config"},

    {vm_args, "config/vm.args"}
]}.
