%%
%% rebar3 configuration file
%%
{minimum_otp_vsn, "18"}.

{erl_opts, [
    debug_info,
    fail_on_warning,
    {parse_transform, lager_transform}
]}.

{deps, [
    {lager, {git, "https://github.com/erlang-lager/lager", {tag, "3.6.7"}}},
    {hackney, {git, "https://github.com/benoitc/hackney", {tag, "1.14.3"}}},
    {jiffy, {git, "https://github.com/davisp/jiffy", {tag, "0.15.2"}}},
    {poolboy, {git, "https://github.com/devinus/poolboy", {tag, "1.5.2"}}}
]}.

{relx, [
    {include_erts, false},
    {include_src, false},
    {release, {kitsune, "0.1.4"}, [
        kitsune
    ]},
    {sys_config, "config/sys.config"},
    {vm_args, "config/vm.args"}
]}.
