%% -*- mode: erlang -*-
%
% An example of the available application configuration parameters, with an
% explanation of what each setting does for kitsune. A file like this can
% be placed at the top of the source tree, with the name user_env.config,
% and when the application is built, these settings will be applied to the
% release.
%
%
% The period of time (atom): hourly, daily, weekly.
%
{period, daily}.
%
% The frequency (integer); i.e. every N periods.
%
{frequency, 1}.
